header{
    background-color: antiquewhite;
    height: 50px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#textarea{
    height: 15px;
    width: 1500px;


}
#headerDivs{
    display: flex;
    flex-direction: row;
}










#headerClose{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(255,0,0,0.5);
    margin-right: 4px;
}
#headerMaximize{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(243, 208, 9, 0.5);
    margin-right: 4px;
}
#headerMinimize{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(0,255,0,0.5);
    margin-right: 4px;
}





















#navbar{
    background-color: cadetblue;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navbarDate{
    color: whitesmoke;
    height: 30px;
    background-color: cadetblue;
    border: 0px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}














#navbar2{
    background-color:dodgerblue;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navbar2Select{
    height: 30px;
    background-color: dodgerblue;
    border: none;
}

#navbar2Logo{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar2Divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#navbar2facebook{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(20, 124, 205,0.5);
    margin-right: 4px;
    text-align: center;
}
#navbar2twitter{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(20, 124, 205,0.5);
    margin-right: 4px;
    text-align: center;
}

#navbar2Linked{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(20, 124, 205,0.5);
    margin-right: 4px;
   text-align: center;
}

























main{
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}



#main1{
    background-color: cornflowerblue;
    height: 230px;
    width: 230px;
    display: inline-block;
    
}




#main2{
    background-color:darkcyan;
    height: 230px;
    width: 230px;
    display: inline-block;
}



#main3{
    background-color:yellowgreen;
    height: 230px;
    width: 230px;
    display: inline-block;
}








#main4{
    background-color:darkseagreen;
    height: 230px;
    width: 230px;
    display: inline-block;
}



#main5{
    background-color:darksalmon;
    height: 230px;
    width: 230px;
    display: inline-block;
}















footer{
    background-color:skyblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#footer{
    height: 100px;
    width: 500px;
    background-color:powderblue;
    text-align: center;
}